html{
  background-color: grey;
}
#game {
  position: relative;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    z-index:0;
}
#dialogBox {
  position: absolute;
  width: 500px;
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  z-index:1;
  font-size:40px;
  color:red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image:url("../assets/dialogText.png");
}

#bottom_panel {
  margin:auto;
  margin-top:50px;
  background-image:url("../assets/bottom_panel.png");
  width:800px;
  height:160px;
  position: relative;
}

.hidden {
  visibility: hidden;
}
#dialog {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 50px;
  right: 50px;
  background-image:url("../assets/dialog.png");
  width: 170px;
  height: 36px;
}

#battle {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 100px;
  right: 50px;
  background-image:url("../assets/battle.png");
  width: 170px;
  height: 36px;
}


#backpack {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 521px;
  width: 351px;
  background-size: cover;
  cursor: pointer;
  background-image:url("../assets/bag.png");
}

#menu {
  height: 600px;
  width: 560px;
  margin:auto;
  background-size: cover;
  background-image:url("../menu/menu.png");
}

#win {
  background-image:url("../assets/good.png");
  height: 1200px;
  width: 800px;
  margin:auto;
}

#gameover {
  background-size: cover;
  background-image:url("../assets/bad.png");
  height: 1200px;
  width: 800px;
  margin:auto;
}

.backpackbutton {
  position: absolute;
  top: 40px;
  left: 50px;
  height: 90px;
  width: 180px;
  cursor:pointer;
}

#comics{
  background-size: cover;
  background-image:url("../assets/comics.png");
  height: 3600px;
  width: 800px;
  margin:auto;
}
#preview{
  position: relative;
  width: fit-content;
  margin: auto;
}

#continue {
  position: absolute;
  background-image:url("../assets/next.png");
  height: 30px;
  width: 140px;
  right: 20px;
  bottom: 30px;
  cursor:pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#credits{
  background-size: cover;
  background-image:url("../assets/credits.png");
  height: 606px;
  width: 800px;
  margin:auto;
}

